<body style="background-color: #16171e ">
    <div style="
        width: 100vw;
        display: grid;
        justify-content: center;
        align-items: center;
        margin-top: 3em;">
        <h1 style="color: #a7a794;text-align:center;margin-bottom:1em;font-size: 6em;text-shadow: 3px -5px  black;font-variant: small-caps; font-family: 'Russo One', sans-serif;">Border Scrutiny</h1>
        <button onclick="window.location.reload()">Run Program</button>
    </div>
    <div style="display: grid;justify-content: center;margin-top: 2em;" id="terminal"></div>

    <script>
        var term = new Terminal({
            cols: 80,
            rows: 24
        });
        term.open(document.getElementById('terminal'));
        term.writeln('Running startup command: python3 run.py');
        term.writeln('');

        var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
            ':' + location.port) : '') + '/');

        ws.onopen = function () {
            new attach.attach(term, ws);
        };

        ws.onerror = function (e) {
            console.log(e);
        };
        // Set focus in the terminal
        document.getElementsByClassName("xterm-helper-textarea")[0].focus();
    </script>
</body>